
@using eShopCoreWeb.ViewModels.System.Users
@model LoginRequest
@{
    ViewData["Title"] = "Đăng nhập";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="mainBody">
	<div class="container">
		<div class="row">
			<div class="span9">
				<ul class="breadcrumb">
					<li><a href="@Url.Action("Index","Home")"><localize>Home</localize></a> <span class="divider">/</span></li>
					<li class="active"><localize>Login</localize></li>
				</ul>
				<h3> <localize>Login</localize></h3>
				<hr class="soft" />

				<div class="row" style="">
					<div class="text-center">
					<div class="span4">
						<div class="well">
							<h5><localize>Wellcome!</localize></h5>
							<form asp-action="Index">
								<div asp-validation-summary="All" class="text-danger"></div>
								<div class="form-group">
									<input type="text" class="form-control form-control-user"
										   asp-for="UserName"
										   placeholder="Enter Username...">
								</div>
								<div class="form-group">
									<input type="password" class="form-control form-control-user"
										   asp-for="Password" placeholder="Password">
								</div>
								<div class="form-group">
									<div class="custom-control custom-checkbox small">
										<input type="checkbox" class="custom-control-input" asp-for="RememberMe">
										<label class="custom-control-label " asp-for="RememberMe">
											Remember
											Me
										</label>
									</div>
								</div>
								<button type="submit" class="btn btn-primary btn-user btn-block">
									<localize>Login</localize>
								</button>
								<hr>
									<a class="btn btn-primary" href="/vi/Account/ExternalLogin?provider=Google" localize-content>Login with Google</a>
								</a>
							</form>
							
						</div>
					</div>
				</div>
				</div>

			</div>
		</div>
	</div>
</div>
